<div class ="text-center">
  <h1>ランキング</h1>
  <div class = "ranking_names">
    <%= link_to "今日ランキング", dayly_ranking_path%>
    <%= link_to "今月ランキング", monthly_ranking_path%>
    <%= link_to "全期間ランキング", whole_ranking_path%>
  <div>
</div>

